
$primary: #1950a2;
$accent: #3b953e;
$title: #273a56; 
$caption: #2b2b2b;
$text: #474747;

//GENERAL COLORS
$black: #353535;
$blue: #2980b9;
$clouds: #ecf0f1;
$midnight-blue: #2c3e50;
$green: #43A047;
$green-sea: #16a085;
$orange: #FB8C00;
$regal-blue: #274058;
$red: #f44336;
$silver: #bdc3c7;
$white: #fff;
$violet: #8E24AA;
$yellow: #FBC02D;
$grey: #CCC;
$light-grey: #ECECEC;

//SOCIAL NETWORKS
$twitter: #55acee;
$facebook: #3b5998;
$google: #DD4B39;
$pinterest: #bd081c;
$youtube: #ed3935;
$instagram: #a77658;